<div class="jumbotron">
  <h1>Welcome to My Chatting Room!</h1>
  <%if current_user%>
    <p><span class="glyphicon glyphicon-heart"></span> Nice to see you <3 !, <%= current_user.username%> <span class="glyphicon glyphicon-heart"></span></p>
  <%end%>
  <p>Sign up or Log in, then create a chatroom or browse existing rooms to start chatting!!!</p>
</div>

